{%extends "base.html"%}
{%block title%} APRIORI {%endblock%}
{%block content%}
<html>
  <style>
    td{
      height: 50px;
      width : 300px;
    }
  </style>
<head>
    <script>

    </script>
</head>
<body>

  <center>
    <h3>ALGORITMO APRIORI</h3>
  </center>
    <br>
    <form class="form-inline" action="../aprioriP/" method="POST" enctype = "multipart / form-data">{% csrf_token %}
      <input type="hidden" name="tmp" value = {{archivo}}>
      <input type="hidden" name="soportetmp" value = {{soporte}}>
      <input type="hidden" name="confianzatmp" value = {{confianza}}>
      <input type="hidden" name="elevaciontmp" value = {{elevacion}}>
        <table>
          <tr>
            <td>Archivo CSV </td>
            <td>
              <div class="form-group mx-sm-3 mb-2">
                <input type="file" placeholder="Dato" name="archivo" accept="application/csv, .csv">                
              </div>
            </td>
          </tr>
          <tr>
            <td>Soporte Minimo </td>
            <td>
              <div class="form-group mx-sm-3 mb-2">
                <input type="number" step ="any" class="form-control" placeholder="Soporte Minimo" name="soporte">
              </div>
            </td>
          </tr>
          <tr>
            <td>Confianza </td>
            <td>
              <div class="form-group mx-sm-3 mb-2">
                <input type="number" step ="any" class="form-control" placeholder="Confianza" name="confianza">
              </div>
            </td>
          </tr>
          <tr>
            <td> Elevacion </td>
            <td>
              <div class="form-group mx-sm-3 mb-2">
                <input type="number" step ="any" class="form-control" placeholder="Elevacion" name="elevacion">
              </div>
            </td>
          </tr>
        </table>
          <br><br>
          <center>
            <button type="submit" class="btn btn-primary mb-2">Subir</button>
          </center> 
      </form>
</body>


</html>
{%endblock%}

{%block info%}
<h3>{{info}}</h3>
<br><br>
{%if reglas|length > 0%}
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">Regla</th>
    <th scope="col">Soporte</th>
    <th scope="col">Confianza</th>
    <th scope="col">Elevacion</th>
  </tr>
  </thead>
  <tbody>
  {%for row in reglas%}
  <tr>
    {%for cell in row%}
      <td>
        {{cell}}
      </td>
    {%endfor%}
  </tr>
  {%endfor%}
</tbody>
</table>
{%endif%}
{%if archivo %}
  <img src='data:image/png;base64,{{ b64 }}'><br><br>
{%endif%}
{%endblock%}
