{%extends "base.html"%}
{%block title%} CLUSTERING {%endblock%}
{%block content%}
<html>
  <style>
    td{
      height: 50px;
      width : 300px;
    }
  </style>
<head>
    <title>
        CLUSTERING
    </title>
    <script>

    </script>
</head>
<body>

  <center>
    <h3>CLUSTERING</h3>
  </center>
    <br>
    <form class="form-inline" action="../clustering/" method="POST" enctype = "multipart / form-data">{% csrf_token %}
        <table>
          <tr>
            <td>Archivo CSV </td>
            <td>
              <div class="form-group mx-sm-3 mb-2">
                <input type="file" placeholder="Dato" name="archivo" accept="application/csv, .csv" > 
                <input type="hidden" name="tmp" value = {{archivo}}>               
              </div>
            </td>
          </tr>
          <tr>
            <td>Tipo de Clustering</td>
            <td>
              <div class="form-group mx-sm-3 mb-2">               
                <select class="form-control" name="tipo">
                    <option value="J">Jerárquico</option>
                    <option value="P">Particional</option>
                </select>
              </div>
            </td>
          </tr>
        </table>
          <br><br>
          <center>
            <button type="submit" class="btn btn-primary mb-2">Subir</button>
          </center>
      </form>
</body>


</html>
{%endblock%}

{%block info%}
{%endblock%}
