<html>
<style>
    #menu{
        width: 200px;
    }
    #menu a{
        background-color: whitesmoke; 
        color: black; 
        display: block; 
        padding: 12px;
        height: 50px;
        text-decoration: none; 
        text-align: center;
    }
    #menu a:hover {
        background-color:maroon; 
        color: white;
    }


</style>
<body>
    <div id="menu">
        <a href="../inicio">Inicio  ➤</a>
        <a href="../aprioriP">Apriori ➤</a>
        <a href="../metricas">Metricas de Distancia ➤</a>
        <a href="../clustering">Clustering ➤</a>
        <a href="../clasificacion">Clasificación ➤</a>
        <a href="../arboles">Arboles de Decisión ➤</a>


    </div>
</body>
</html>